In [1]:
#One Hot Encoding

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({"color":['red','blue','pink','blue','red','pink','pink']})

In [4]:
df

  color
0   red
1  blue
2  pink
3  blue
4   red
5  pink
6  pink

In [5]:
obj = OneHotEncoder()

In [9]:
data = obj.fit_transform(df[['color']]).toarray()

In [11]:
df2 = pd.DataFrame(data,columns=obj.get_feature_names_out())

In [12]:
pd.concat([df,df2],axis = 1)

  color  color_blue  color_pink  color_red
0   red         0.0         0.0        1.0
1  blue         1.0         0.0        0.0
2  pink         0.0         1.0        0.0
3  blue         1.0         0.0        0.0
4   red         0.0         0.0        1.0
5  pink         0.0         1.0        0.0
6  pink         0.0         1.0        0.0